body {
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  text-align: center;
  padding: 9px;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer-container p {
  margin: 0;
  font-size: 12px;
}
