@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
}

/* Estilos generales para la página */
body {
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 20px;
}

.mascota-container {
  padding: 40px 20px;
}

.mascota-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  max-width: 900px;
  overflow: hidden;
}

/* Título de la mascota */
h2 {
  font-size: 40px;
  color: #118AB2;
  margin: 20px;
  font-weight: bold;
}

.linea-fina {
  border: none;
  height: 1px;
  background-color: #ccc; /* o cualquier color sutil */
  margin: 20px 0;
  opacity: 0.6; /* más transparencia = más sutil */
}

h3 {
  font-size: 28px;
  margin: 20px;
  font-weight: bold;
}

/* Estilos para la imagen */
img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Detalles de la mascota */
p {
  font-size: 1rem;
  color: #555;
}

strong {
  color: #118AB2;
}

/* Estilo para el botón */
.btn-reservar {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  background-color: #118AB2;
  color: white;
  padding: 12px 25px;
  font-size: 1.1rem;
  border: none;
  border-radius: 120px;
  cursor: pointer;
  text-align: center;
  margin: 20px auto;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efectos de hover en el botón */
.btn-reservar:hover {
  background-color: #32a6cc;
  transform: translateY(-2px);
}

/* Efectos cuando el botón está presionado */
.btn-reservar:active {
  transform: translateY(2px);
}

.detalle-icono {
  display: flex;
  align-items: center;
  gap: 8px; /* Espacio entre icono y texto */
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.detalle-icono i {
  color: #444;
  font-size: 1.2rem;
}
