<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
</head>

<body>
  <div class="mascota-container" *ngIf="mascota">
    <div class="mascota-card">
      <img [src]="mascota.imagen" [alt]="mascota.nombre" class="mascota-img" />
      <div class="mascota-info">
        <h2>{{ mascota.nombre }}</h2>
        <p>{{ mascota.especie }}</p>
        <hr class="linea-fina" />
        <h3> Detalles </h3>
        <div class="detalle-icono">
          <i class="fas fa-venus-mars"></i>
          <p>Sexo: <strong>{{ mascota.sexo }}</strong></p>
        </div>
        <div class="detalle-icono">
          <span class="material-icons-outlined">
            height
          </span>
          <p>Tamaño: <strong>{{ mascota.tamanio }}</strong></p>
        </div>
        <div class="detalle-icono">
          <i class="fas fa-calendar"></i>
          <p>Edad: <strong>{{ mascota.edad }} </strong>años</p>
        </div>
        <div class="detalle-icono">
          <i class="fas fa-weight"></i>
          <p>Peso: <strong>{{ mascota.peso }} </strong>kg</p>
        </div>
        <div class="detalle-icono">
          <i class="fas fa-paw"></i>
          <p>Raza: <strong>{{ mascota.raza?.nombre }}</strong></p>
        </div>
        <hr class="linea-fina" />
        <h3> Historial médico </h3>
        <p>Vacunado: <strong>{{ mascota.vacunado ? 'Sí' : 'No' }}</strong></p>
        <p>Esterilizado: <strong>{{ mascota.esterilizado ? 'Sí' : 'No' }}</strong></p>
        <p>Desparasitado: <strong>{{ mascota.desparasitado ? 'Sí' : 'No' }}</strong></p>
        <hr class="linea-fina" />
        <h3> Descripción </h3>
        <p>Personalidad: {{ mascota.personalidad }}</p>
        <br>
        <p>Cuidados especiales: {{ mascota.cuidadosEspeciales }}</p>
        <br>
        <p>Historia: {{ mascota.historia }}</p>
        <br>
        <p>Disponible: {{ mascota.disponibilidad ? 'Sí' : 'No' }}</p>

        <button (click)="reservarMascota()" class="btn-reservar">¡Resérvame!</button>
      </div>
    </div>
  </div>
</body>
