header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFD166;
  font-family: 'Poppins', sans-serif;
  /*border-bottom: 2px solid black;*/
}

.header-left img {
  width: 130px;
  height: auto;
  margin-right: 300px;
}

.header-center h1 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  gap: 1rem;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: #333;
}

a.active {
  font-weight: bold;
  color: #007bff;
}
