<header>
  <div class="header-left">
    <img src="logoHappypawsCopy-removebg-preview.png" alt="Logo" />
  </div>
  <div class="header-center">
    <h1>HappyPaws</h1>
  </div>
  <div class="header-right">
    <!-- Aquí podrías añadir navegación o dejarlo vacío -->
  </div>
  <!--<nav>
    <a routerLink="/mascotas" routerLinkActive="active">Mascotas</a>
    <a routerLink="/razas" routerLinkActive="active">Razas</a>
    <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
    <a routerLink="/reservas" routerLinkActive="active">Reservas</a>
    <a routerLink="/admin" routerLinkActive="active">Administrador</a>
  </nav>-->
</header>
