<div class="inicio-container">
  <h1>Bienvenido a HappyPaws</h1>
  <p>Selecciona una de las siguientes opciones para ver más:</p>

  <nav>
    <ul>
      <li><a routerLink="/menu_usuario"> Menú principal del usuario </a></li>
      <li><a routerLink="/actualizar_usuario"> Actualizar perfil del usuario </a></li>
      <li><a routerLink="/raza"> Razas </a></li>
      <li><a routerLink="/menu_administrador"> Menu principal del administrador </a></li>
      <li><a routerLink="/add_mascota"> Formulario para añadir mascota </a></li>
    </ul>
  </nav>
</div>
