<div class="inicio-container">
  <h1>Bienvenido a HappyPaws</h1>
  <p>Selecciona una de las siguientes opciones para ver más:</p>

  <nav>
    <ul>
      <li><a routerLink="/menu_usuario"> Menú principal del usuario </a></li>
      <li><a routerLink="/actualizar_usuario"> Actualizar perfil del usuario </a></li>
      <li><a routerLink="/raza"> Razas </a></li>
      <li><a routerLink="/menu_administrador"> Menu principal del administrador </a></li>
      <li><a routerLink="/add_mascota"> Formulario para añadir mascota </a></li>
      <li><a routerLink="/selector-rol"> Seleccionar rol </a></li>
      <li><a routerLink="/login-cliente"> Login del usuario </a></li>
      <li><a routerLink="/login-admin"> Login del administrador </a></li>
      <li><a routerLink="/mascotas"> Lista de mascotas en adopción </a></li>
      <li><a routerLink="/registro"> Registro del cliente </a></li>
      <li><a routerLink="/datos_administrador"> Perfil del administrador </a></li>
      <li><a routerLink="/about-us"> About us </a></li>
    </ul>
  </nav>
</div>
