<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<header class="header">
  <div class="container">
    <nav class="nav">
      <div class="nav-links">
        <a routerLink="/">Inicio</a>
        <a routerLink="/about-us">Sobre nosotros</a>
      </div>
      <div class="nav-actions">
        <a routerLink="/selector-rol" class="btn">Iniciar sesión</a>
        <a routerLink="/registro" class="btn">Regístrate</a>
      </div>
    </nav>
  </div>
</header>

<body>

  <section class="hero">
    <div class="container">
      <div class="welcome">
        <h1> Adopta ♡ Ama ♡ Cambia </h1>
      </div>
      <p class="animated-text">Conecta con tu compañero ideal. <br> Adopta, cuida y comparte amor.</p>
    </div>
  </section>

  <section class="info">
    <div class="container">
      <div class="mini-logo">
        <img src="logoHappypawsCopy-removebg-preview.png" alt="Logo" />
      </div>
      <br>
      <h3>Happypaws, adopción de animales</h3>
      <div class="lema">
        <p> Cada mascota publicada en Happypaws representa una nueva oportunidad de cambiar una vida. Creemos en el
          poder
          del cariño, la compañía y en los lazos que nacen del amor verdadero. Aquí, empieza tu historia con un amigo
          para
          siempre. </p>
      </div>
      <br>
      <div class="button-container">
        <a routerLink="/about-us" class="cta-button">¿Qué es Happypaws?</a>
      </div>
    </div>
  </section>

</body>
