<body>
  <div class="filtros">
    <!-- filtro de estado -->
    <label for="estado">Estado:</label>
    <select id="estado" [(ngModel)]="estadoSeleccionado" (change)="filtrarPorEstado()">
      <option value="TODOS">Todos</option>
      <option *ngFor="let estado of estadoKeys" [value]="estado">{{ estado }}</option>
    </select>
  </div>


  <div class="reserva-container" *ngIf="!cargando">
    <div *ngFor="let reserva of reservas" class="reserva-card">
      <h3><strong></strong>{{ reserva.mascotas?.nombre }} ha sido reservado/a!</h3>
      <p><strong>Cliente: </strong>{{ reserva.clientes?.nombre }} {{ reserva.clientes?.apellidos }}</p>
      <p><strong>Estado: </strong>{{ reserva.estado }}</p>
      <p><strong>Observaciones: </strong>{{ reserva.observaciones }}</p>
      <p><strong>Fecha: </strong>{{ reserva.fechaSolicitud }}</p>

      <button class="btn-aceptar" (click)="cambiarEstado(reserva.id, EstadoReserva.APROBADA)">Aceptar</button>
      <button class="btn-rechazar" (click)="cambiarEstado(reserva.id, EstadoReserva.RECHAZADA)">Rechazar</button>
      <button class="btn-ver" (click)="verDetalles(reserva.id)">Ver información</button>
    </div>
  </div>
</body>
