@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #FFD166;
  border-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
  position: relative;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #333;
}

input {
  width: 100%;
  padding: 0.6rem 2.5rem 0.6rem 0.8rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

.icon {
  position: absolute;
  right: 0.8rem;
  top: 72%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #888;
  pointer-events: none;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #118AB2;
  color: white;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 20px;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: #32a6cc;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-container img {
  width: 120px; /* Ajusta el tamaño del logo */
  height: auto;
  display: block;
  margin: 0 auto 1rem auto; /* Centrado + espacio inferior */
}

.create-account-link {
  text-align: right;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

.create-account-link a {
  font-size: 0.80rem;
  color: #333;
  text-decoration: none;
}

.create-account-link a:hover {
  text-decoration: underline;
}

.menu-enlaces {
  display: flex;
}

.menu-enlaces a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.menu-enlaces a:hover,
.menu-enlaces a.activo {
  color: white;
  background-color: #32a6cc;
}
