@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;

}

.grid-mascotas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 2rem;

}

h1,
h3 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tarjeta {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .imagen-mascota {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  .btn-ver-mas {
    margin: 10px auto 4px auto;
    /* margen arriba y abajo, centrado */
    background-color: #118AB2;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: fit-content;
  }

  .btn-ver-mas:hover {
    background-color: #32a6cc;
  }

  .btn-eliminar {
    margin: 0 auto;
    margin-top: 8px;
    background-color: #e63946;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: fit-content;
  }

  .btn-eliminar:hover {
    background-color: #d62828;
  }

  .btn-ver-mas {
    margin: 10px auto 4px auto;
    /* margen arriba y abajo, centrado */
    background-color: #118AB2;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: fit-content;
  }

  .btn-ver-mas:hover {
    background-color: #32a6cc;
  }
}

// Fuera de .tarjeta
.boton-flotante {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #118AB2;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 36px;
  text-align: center;
  line-height: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  z-index: 1000;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.boton-flotante:hover {
  background-color: #32a6cc;
}
