<body>
  <div class="mascotas-container">
    <h1>Lista de mascotas</h1>
    <br>
    <div *ngIf="especieFiltrada">
      <h3>Mostrando las mascotas de la especie: {{ especieFiltrada }}</h3>
    </div>

    <div *ngIf="mascotas.length === 0">
      <p>No hay mascotas disponibles.</p>
    </div>

    <div class="grid-mascotas">
      <div *ngFor="let mascota of mascotas" class="tarjeta">
        <h2>{{ mascota.nombre }}</h2>
        <img [src]="mascota.imagen" alt="{{ mascota.nombre }}" class="imagen-mascota" />
        <p>{{ mascota.especie }}</p>
        <button [routerLink]="['/adoptar_mascota', mascota.id]" class="btn-ver-mas">
          Ver más información
        </button>
      </div>
    </div>
    <!-- Botón flotante -->
    <a routerLink="/add_mascota" class="boton-flotante" title="Añadir mascota">
      +
    </a>

  </div>
</body>
