<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>
  <div class="mascotas-container">
    <h1>Lista de mascotas</h1>
    <br>
    <div *ngIf="especieFiltrada">
      <h3>Mostrando las mascotas de la especie: {{ especieFiltrada }}</h3>
    </div>

    <div *ngIf="mascotas.length === 0">
      <p>No hay mascotas disponibles.</p>
    </div>

    <div class="grid-mascotas">
      <div *ngFor="let mascota of mascotas" class="tarjeta">
        <h2>{{ mascota.nombre }}</h2>
        <img [src]="mascota.imagen" alt="{{ mascota.nombre }}" class="imagen-mascota" />
        <p>{{ mascota.especie }}</p>
        <button [routerLink]="['/adoptar_mascota', mascota.id]" class="btn-ver-mas">
          Ver más información
        </button>
        <!-- Botón eliminar -->
        <button (click)="eliminarMascota(mascota.id!)" class="btn-eliminar">
          Eliminar
        </button>
      </div>
    </div>
    <a routerLink="/add_mascota" routerLinkActive="activo"><span class="material-symbols-outlined">
        add
      </span></a>
  </div>
</body>
