<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botones de Razas</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="menu_administrador.component.scss">
</head>
<body>

    <div class="button-container">
        <button class="animal-button perro">
            <i class="fas fa-dog"></i>
        </button>
        <button class="animal-button gato">
            <i class="fas fa-cat"></i>
        </button>
    </div>

</body>
</html>
