<header>
  <nav class="menu-enlaces">
    <a routerLink="/login-cliente" routerLinkActive="activo">Entra</a>
    <a routerLink="/registro" routerLinkActive="activo">Regístrate</a>
  </nav>
</header>

<body>
  <div class="about-container">
    <div class="logo-container">
      <img src="logoHappypawsCopy-removebg-preview.png" alt="Logo del sitio" class="logo" />
    </div>

    <h3>
      Happypaws es una plataforma dedicada a la adopción de mascotas, <br> con el fin de proporcionar facilidad y
      responsabilidad. Trabajamos por y para los animales sin hogar.
    </h3>

    <div class="cards-grid">
      <div class="info-card">
        <h3>Adopción</h3>
        <p>Revisamos y aprobamos cada solicitud para garantizar un proceso responsable y seguro.</p>
      </div>
      <div class="info-card">
        <h3>Equipo</h3>
        <p>Happypaws está formada por varios administradores, una desarrolladora web y muchos animales en busca de un
          hogar.</p>
      </div>
      <div class="info-card">
        <h3>Familia</h3>
        <p>Nuestros animales son familia. Debemos cuidarlos, darles el mejor trato y llevarlos al veterinario
          perdiódicamente.</p>
      </div>
      <div class="info-card">
        <h3>Perfil</h3>
        <p>Cada usuario puede gestionar sus datos, solicitudes y mascotas favoritas.</p>
      </div>
      <div class="info-card">
        <h3>Abuelitos</h3>
        <p>Sabemos que los cachorros son monísimos, pero hay muchos viejecitos esperando una oportunidad, recuerda que
          te lo agradecerán toda la vida.</p>
      </div>
      <div class="info-card">
        <h3>Transparencia</h3>
        <p>Mostramos toda la información relevante sobre cada mascota sin ocultar nada.</p>
      </div>
    </div>
    <div class="faq-section">
      <p>¿Tienes dudas? Consulta nuestras preguntas frecuentes para más información.</p>
      <button class="faq-button" (click)="preguntasFrecuentes()">Preguntas frecuentes</button>
    </div>

  </div>
</body>
