<body>
  <div class="filtros">
    <!-- filtro de estado -->
    <label for="estado">Estado:</label>
    <select id="estado" [(ngModel)]="estadoSeleccionado" (change)="filtrarPorEstado()">
      <option value="TODOS">Todos</option>
      <option *ngFor="let estado of estadoKeys" [value]="estado">{{ estado }}</option>
    </select>
  </div>

  <div class="reserva-container" *ngIf="!cargando && reservasFiltradas.length > 0; else sinReservas">
    <div *ngFor="let reserva of reservasFiltradas" class="reserva-card">
      <h3><strong>Mascota: </strong>{{ reserva.mascota.nombre }}</h3>
      <p><strong>Estado: </strong>{{ reserva.estado }}</p>
      <p><strong>Observaciones: </strong>{{ reserva.observaciones || 'Sin observaciones' }}</p>
      <p><strong>Fecha de solicitud: </strong>{{ reserva.fechaSolicitud | date: 'mediumDate' }}</p>

      <!-- <button class="btn-ver" (click)="verDetalles(reserva.id)">Ver detalles</button> -->
      <button class="btn-cancelar" [disabled]="reserva.estado !== 'PENDIENTE'" (click)="cancelarReserva(reserva.id)">
        Cancelar reserva
      </button>
      <button class="btn-ver" (click)="verDetalles(reserva.mascota.id!)">Ver información</button>
    </div>
  </div>

  <ng-template #sinReservas>
    <p style="text-align: center; margin-top: 2rem;">No tienes reservas registradas.</p>
  </ng-template>
</body>
