@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:
    url('../../../../public/dog.jpg') left center / 50% 100% no-repeat,
    url('../../../../public/cat.jpg') right center / 50% 100% no-repeat;
}

.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 0;
}

.container {
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
  background-color: none;
}

.nav-actions {
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.nav a.btn {
  background-color: #118AB2;
  color: white;
}

.nav-links a:hover {
  background-color: transparent;
  color: #0e6a8a;
  text-decoration: underline;
}

.nav-actions a:hover {
  background-color: #0e6a8a;
  color: white;
  transform: scale(1.05);
}

.selector-container {
  text-align: center;
}

.roles {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  font-size: 13px;
}

.rol-card {
  background-color: #118AB2;
  color: white;
  padding: 2rem;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.rol-card:hover {
  background-color: #32a6cc;
  transform: scale(1.1);
}
