<body>
<div class="perfil-container">
   Panel izquierdo: imagen y datos
  <div class="perfil-info">
    <img src="Captura de pantalla 2025-02-10 134722.png" alt="Foto del usuario" class="foto-usuario" />
    <!--<h2>{{ cliente.nombre }} {{ cliente.apellidos }}</h2>
    <p>Email: {{ cliente.email }}</p>
    <p>Teléfono: {{ cliente.telefono }}</p>
  </div>

  <div class="perfil-acciones">
    <button (click)="verReservas()">Ver mis reservas</button>
    <button (click)="modoEditar = true">Actualizar mis datos</button>

    <form *ngIf="modoEditar" (ngSubmit)="actualizarCliente()">
      <input [(ngModel)]="cliente.nombre" name="nombre" placeholder="Nombre" required />
      <input [(ngModel)]="cliente.apellidos" name="apellido" placeholder="Apellido" required />
      <input [(ngModel)]="cliente.email" name="email" placeholder="Email" required />
      <input [(ngModel)]="cliente.telefono" name="telefono" placeholder="Teléfono" required />
      <button type="submit">Guardar</button>
    </form>-->
  </div>
</div>
</body>
