<div class="form-container">
  <h2>Actualizar Datos del Usuario</h2>

  <form (ngSubmit)="actualizarCliente()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" [(ngModel)]="cliente.nombre" name="nombre" id="nombre" required />
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" [(ngModel)]="cliente.email" name="email" id="email" required />
    </div>

    <!-- Más campos para los datos del cliente -->

    <button class="btn-actualizar" type="submit">Actualizar Datos</button>
  </form>

  <div class="mascotas">
    <h3>Mis Reservas</h3>
    <ul>
      <li *ngFor="let mascota of mascotasDelCliente">
        <p>{{ mascota.nombre }} - {{ mascota.especie }}</p>
      </li>
    </ul>
  </div>
</div>
